body {
    background-color: whitesmoke;
}
.row {
    margin-top: 25px;
}


.head {
    border-bottom: 1px solid rgb(131, 131, 131);
    box-shadow: 0 0 4px 0 ;
}
.navbar-brand{
    margin-left: 30px;
    margin-right: 150px;
    
    font-size: 27px;
    font-family: 'Lobster', cursive;  
}
ul{
    margin: auto;
}
li{
    font-size: 22px;
    margin-right: 7px;
}
.d-flex input {
    border-radius: 12px;
}
.d-flex button {
    color: black;
    border-color: rgb(185, 185, 185);
    border-radius: 12px;
}
.card button {
    margin-left: 35%;
}

.card img:hover {
    transition: all 0.5s;
    opacity: 0.4;
}







